<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<!-- KokilaSangilimuthu -301151291-21/07/2022 -->
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<title>Customer-list</title>
</head>
<body>
<div class="container">
		<table class="table">
		<thead class="thead-light">
			<tr>
				<th>Customer Id</th>
				<th>Customer Name</th>
				<th></th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
		<tr th:each="customer : ${customerList}">
			<td th:text="${customer.customerId}">Job Id</td>
			<td th:text="${customer.firstName}">Job Type</td>
			<td> <a th:href="@{/modify/{id}(id=${customer.customerId})}"
                class="btn btn-primary">Modify</a></td>
                <td> <a th:href="@{/view/{id}(id=${customer.customerId})}"
                class="btn btn-primary">View</a></td>
			<td><a th:href="@{/deleteCustomer/{id}(id=${customer.customerId})}"
                class="btn btn-danger">Delete</a></td>
		</tr>
		</tbody>
		</table>
    	<strong><a a th:href="@{/}" class="btn btn-primary" style="width:200px">Home</a></strong>
	</div>
</body>
</html>